<%- include('partials/header'); %>
<body>
    <header>
        <h1>ARTICULOS</h1>
    </header>
    <div class="list-container">
        <button style="background-color: rgb(29, 151, 29);" class="button" onclick="location.href='/new-article'">Agregar articulo</button>
        <button class="button" onclick="location.href='/edit-article'">Editar o Eliminar un articulo</button>
        <button style="background-color: rgba(184, 46, 46, 0.767)" class="button" onclick="location.href='/'">Volver</button>
    </div>
</body>
<%- include('partials/footer'); %>