<%- include('partials/header'); %>
<body>
    <header>
        <h1>ARTICULOS</h1>
    </header>
    <div class="container">
        <button class="button" onclick="location.href='/new-article'">Agregar articulo</button>
        <button class="button" onclick="location.href='/edit-article'">Editar o Eliminar un articulo</button>
        <button class="button" onclick="location.href='/'">Volver</button>
    </div>
</body>
<%- include('partials/footer'); %>