<%- include('partials/header'); %>
<header>
    <h1><%= nombreEmpresa %></h1>
</header>
    <button class="button" onclick="location.href='/nueva-venta'">Nueva venta</button>
    <button class="button" onclick="location.href='/articulos'">Articulos</button>
    <button class="button" onclick="location.href='/clientes'">Clientes</button>
    <button class="button" onclick="location.href='/caja-diaria'">Caja diaria</button>
<%- include('partials/footer'); %>
