<%- include('partials/header'); %>
<header>
    <h1><%= nombreEmpresa %></h1>
</header>
<div class="list-container">
    <button style="background-color: rgb(29, 151, 29);" class="button" onclick="location.href='/nueva-venta'">Nueva venta</button>
    <button class="button" onclick="location.href='/edit-article'">Articulos</button>
    <button class="button" onclick="location.href='/edit-clientes'">Clientes</button>
    <button style="background-color: rgb(118, 118, 207);" class="button" onclick="location.href='/caja-diaria'">Caja diaria</button>
</div>
<%- include('partials/footer'); %>
