<%- include('partials/header'); %>
  <header>
    <h1>NUEVO ARTICULO</h1>
  </header>
  <div class="form-container">
    <h1>CREACION ARTICULO</h1>
    <form id="product-form">
      <div class="form-group">
        <label for="name">Nombre Producto:</label>
        <input type="text" id="name" name="name" />
      </div>
      <div style="display: flex; align-items: center; gap: 10px" class="form-group">
        <label for="option">Tipo:</label>
        <select id="option-tipo" name="option-tipo">
          <option value="1">Perro</option>
          <option value="2">Gato</option>
          <option value="3">Forraje</option>
          <option value="4">Accesorios</option>
          <option value="5">Otros</option>
        </select>
        <label for="option">Edad:</label>
        <select id="option-edad" name="option-tipo">
          <option value="1">-</option>
          <option value="2">Adulto</option>
          <option value="3">Cachorro</option>
          <option value="4">Senior</option>
        </select>
        <label for="option">Mordida:</label>
        <select id="option-mordida" name="option-tipo">
          <option value="1">-</option>
          <option value="2">Grande</option>
          <option value="3">Mediana</option>
          <option value="4">Pequeña</option>
        </select>
        <label for="price">KG</label>
        <input type="number" id="peso" name="peso" />
      </div>
      <div style="display: flex; text-align: center;" class="form-group">
        <label for="price">Precio Bolsa:</label>
        <input type="number" id="price" name="price" />
      </div>
      <div style="display: flex; text-align: center;" class="form-group">
        <label style="text-align: center; margin-right: 4px;" for="price-suelto">Precio Suelto:</label>
        <input type="number" id="price-suelto" name="price-suelto" />
        <label style="margin-right: 4px;" for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" />
      </div>
      <button type="button" style="background-color: rgb(93, 150, 93)" class="form-button" id="next">Siguiente</button>
      <div id="window" class="window">
        <div class="window-content">
          <h4>VISTA PREVIA</h4>
          <p>Alimento:<span id="vistaPreviaAlimento"></span></p>
          <p>Tipo:<span id="vistaPreviaTipo"></span></p>
          <p>Peso:<span id="vistaPreviaPeso"></span></p>
          <p>Precio:<span id="vistaPreviaPrecio"></span></p>
          <p>Stock:<span id="vistaPreviaStock"></span></p>
        </div>
        <div class="window-content">
          <button type="submit" style="background-color: rgb(76, 76, 134); margin-bottom: 5px" id="submitForm"
            class="form-button">
            Aceptar y Crear!
          </button>
          <button onclick="cerrarVentana()" id="button2" class="window-button">
            Cerrar
          </button>
        </div>
      </div>
    </form>
      <button style="background-color: rgba(184, 46, 46, 0.767); margin-top: 5px;" class="form-button" onclick="location.href='/'">
        Atras
      </button>
  </div>
  <script>
    nextButton = document.getElementById("next")
    console.log(nextButton)
    nextButton.addEventListener('click', (event) => {

      let name = document.getElementById("name").value.toUpperCase();
      let option = document.getElementById("option-tipo").value;
      let valorEdad = document.getElementById("option-edad").value;
      let valorMordida = document.getElementById("option-mordida").value;
      let peso = document.getElementById("peso").value;
      let price = document.getElementById("price").value;
      let priceSuelto = document.getElementById("price-suelto").value;
      let stock = document.getElementById("stock").value;
      optionTipo = ["PERRO", "GATO", "FORRAJE", "ACCESORIOS", "OTROS"]
      optionEdad = ["-", "ADULTO", "CACHORRO", "SENIOR"]
      optionMordida = ["-", "GRANDE", "MEDIANA", "PEQUENIA"]

      if (name == "" || price == "" || peso == "" || stock == "") {
        alert("Complete todos los campos");
      } else {

        window.formData = { name, tipo: optionTipo[option - 1], tipoEdad:optionEdad[valorEdad - 1], tipoMordida:optionMordida[valorMordida - 1], peso, price,precioSuelto:priceSuelto, stock }

        const vpName = document.getElementById("vistaPreviaAlimento")
        const vpTipo = document.getElementById("vistaPreviaTipo")
        const vpPeso = document.getElementById("vistaPreviaPeso")
        const vpPrecio = document.getElementById("vistaPreviaPrecio")
        const vpStock = document.getElementById("vistaPreviaStock")

        vpName.innerHTML = name
        vpTipo.innerHTML = optionTipo[option - 1]
        vpPeso.innerHTML = peso
        vpPrecio.innerHTML = price
        vpStock.innerHTML = stock

        let windowElement = document.getElementById("window");
        windowElement.classList.toggle("visible");

        document.getElementById("name").value = "";
        document.getElementById("price").value = "";
        document.getElementById("peso").value = "";
      }})
    function cerrarVentana() {
      event.preventDefault()
      var windowElement = document.getElementById("window");
      windowElement.classList.toggle("visible");
    }

    const form = document.getElementById("product-form");
    form.addEventListener("click", (event) => {
      event.preventDefault()
      fetch("/new-article", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(window.formData),
      })
        .then((response) => {
          response.json();
        })
        .then((data) => {
          console.log("Respuesta del servidor:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        })

        cerrarVentana()
        alert("Articulo agregado!")
        location.href="/edit-article"
    }
    )
  </script>

  <%- include('partials/footer'); %>