<%- include('partials/header'); %>
  <header>
    <h1>NUEVO ARTICULO</h1>
  </header>
  <div class="form-container">
    <h1>CREACION ARTICULO</h1>
    <form id="product-form">
      <div class="form-group">
        <label for="name">Nombre Producto:</label>
        <input type="text" id="name" name="name" />
      </div>
      <div style="display: flex; align-items: center; gap: 10px" class="form-group">
        <label for="option">Tipo:</label>
        <select id="option-tipo" name="option-tipo">
          <option value="1">Perro</option>
          <option value="2">Gato</option>
          <option value="3">Forraje</option>
          <option value="4">Accesorios</option>
          <option value="5">Otros</option>
        </select>
        <label for="price">KG</label>
        <input type="number" id="peso" name="peso" />
      </div>
      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" />
      </div>
      <button type="button" style="background-color: rgb(93, 150, 93)" class="form-button" id="next">Siguiente</button>
      <div id="window" class="window">
        <div class="vistaPrevia">
          <h4>VISTA PREVIA</h4>
          <p>Alimento:<span id="vistaPreviaAlimento"></span></p>
          <p>Tipo:<span id="vistaPreviaTipo"></span></p>
          <p>Peso:<span id="vistaPreviaPeso"></span></p>
          <p>Precio:<span id="vistaPreviaPrecio"></span></p>
        </div>
        <div class="window-content">
          <button type="submit" style="background-color: rgb(76, 76, 134); margin-bottom: 5px" id="submitForm"
            class="form-button">
            Aceptar y Crear!
          </button>
          <button onclick="cerrarVentana()" id="button2" class="window-button">
            Cerrar
          </button>
        </div>
      </div>
      <button style="background-color: rgba(184, 46, 46, 0.767)" class="form-button" onclick="location.href='/'">
        Atras
      </button>
    </form>
  </div>
  <script>
    nextButton = document.getElementById("next")
    console.log(nextButton)
    nextButton.addEventListener('click', (event) => {

      let name = document.getElementById("name").value.toUpperCase();
      let option = document.getElementById("option-tipo").value;
      let peso = document.getElementById("peso").value;
      let price = document.getElementById("price").value;
      optionTipo = ["PERRO", "GATO", "FORRAJE", "ACCESORIOS", "OTROS"]

      if (name == "" || price == "" || peso == "") {
        alert("Complete todos los campos");
      } else {

        window.formData = { name, tipo: optionTipo[option - 1], peso, price }

        const vpName = document.getElementById("vistaPreviaAlimento")
        const vpTipo = document.getElementById("vistaPreviaTipo")
        const vpPeso = document.getElementById("vistaPreviaPeso")
        const vpPrecio = document.getElementById("vistaPreviaPrecio")

        vpName.innerHTML = name
        vpTipo.innerHTML = optionTipo[option - 1]
        vpPeso.innerHTML = peso
        vpPrecio.innerHTML = price

        let windowElement = document.getElementById("window");
        windowElement.classList.toggle("visible");

        document.getElementById("name").value = "";
        document.getElementById("price").value = "";
        document.getElementById("peso").value = "";
      }})
    function cerrarVentana() {
      event.preventDefault()
      var windowElement = document.getElementById("window");
      windowElement.classList.toggle("visible");
    }

    const form = document.getElementById("product-form");
    form.addEventListener("submit", (event) => {
      event.preventDefault()
      fetch("/new-article", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(window.formData),
      })
        .then((response) => {
          response.json();
        })
        .then((data) => {
          console.log("Respuesta del servidor:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        })

        cerrarVentana()
    }
    )
  </script>

  <%- include('partials/footer'); %>