@import url(./venta/ticket__item.css);
@import url(./venta/window.css);
@import url(./variables.css);
@import url(./articles/articulos.css);


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin-left: 0 auto;
  padding: 20px;
}

/* Estilos de encabezado */

header {
  max-width: 80vw;
  margin: auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

/* Estilos de tabla */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  width: 100px;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #474747;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos de botón */

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}

/* Estilos de formulario */

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-button {
  height: 40px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #555;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.button-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.button-table th,
.button-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.edit-button {
  margin: 3px;
  height: 15px;
  display: block;
  padding: 2px 5px;
  background-color: #4d4b4b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #555;
}

.form-container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  display: block;
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #555;
}

.ticket-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ticket-text {
  display: inline-block;
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}
#total-text {
  display: inline-block;
  width: 30%;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.list-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#submitForm {
  height: 90px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.containerTotal {
  max-width: 80vw;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.boxButtomsCajaDiaria {
  max-width: 80vw;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: start;
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 70px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.date {
  font-size: 18px;
}

.totals {
  display: flex;
  gap: 20px;
}

.total-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-box {
  text-align: center;
  font-weight: bold;
  color: green;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.listContainer {
  height: 600px;
  width: 400px;
  display: block;
  overflow-y: scroll;
}

.blokeventas {
  margin: auto;
  max-width: 80vw;
  display: flex;
}
.material-symbols-outlined{
  border-radius: 5px;
}
.material-symbols-outlined:hover{
  cursor: pointer;
}